// Global variables
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Tajawal:wght@300;400&display=swap");

$dashboard-color: white;
$div-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
$main-font: "Tajawal";
$button-weight: bold;
$button-font-size: 17px;
$blue-shade: #3022ab;
$border: 2px soild black;
$radius: 15px;
$title-font-size: 3vw;
$divider-line: 0.1vw solid #aaa;
