.sign-in-butt2 {
  background-color: #d3d3d3;
  border-radius: 15px 0px 0px 0px;
  cursor: pointer;
}

.sign-up-butt2 {
  background-color: white;
  border-radius: 0px 15px 0px 0px;
}

.sign-in-butt2:hover {
  color: grey;
}
