@import '../../../../stylesheet.scss';

.save-profile-button {
  border-radius: $border-radius;
  height: 5vh;
  width: 13.55vw;
  cursor: pointer;
  font-family: $main-font-family;
  background-color: #3022ab;
  border: none;
  color: white;
  font-size: 0.8999999999999999vw;
  font-weight: bold;
  margin-top: 3vh;
  align-self: center;
}
.save-profile-button:hover {
  background-color: #1c136f;
}

.profile-div {
  width: 75%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: $divider-line;
}

.avatar-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  .avatar-div {
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);

    .your-avatar {
      width: 100%;
      height: 100%;
      // border-radius: 50%;
    }
  }
  .set-avatar-btn {
    height: 1vh;
    width: 10vh;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-family: $main-font-family;
    font-size: $button-font-size;
    background-color: transparent;
  }
  .set-avatar-btn:hover {
    color: $blue-shade;
  }
}

.dropdown-avatar {
  display: none;
  position: absolute;
  background-color: black;
  width: 8vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: $border-radius;
  // border: solid white;
}

.set-avatar-btn:hover .dropdown-avatar {
  display: block;
}

.profile-form {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  align-items: flex-start;
  height: 75%;
  width: 100%;
  // background-color: #3022ab;
  border: solid thin rgba(128, 128, 128, 0.251);
  border-radius: $border-radius;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.profile-label {
  text-align: left;
  width: 90%;
  font-family: $main-font-family;
  color: $blue-shade;
  margin-top: 1vh;
  margin-left: 2vh;
  font-weight: bold;
}

.profile-textBox {
  margin-top: -1vh;
  font-size: large;
  width: 90%;
  border: none;
  border-bottom: $divider-line;
  outline: none;
}

.fixed {
  font-family: $main-font-family;
  border: solid thin grey;
  width: 20vh;
  margin-top: -2vh;
}

.password-reset-a {
  font-family: $main-font-family;
  border: solid thin grey;
  width: 20vh;
  margin-top: -2vh;
}

.profile-textBox {
  margin-top: -2vh;
  font-family: $main-font-family;
  width: 20vh;
}

.mid-section {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 90%;
  justify-content: space-evenly;
  // background-color: #3022ab;
}

.rating-div {
  margin-top: 2vh;
  width: 75%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  // background-color: #3022ab;
}

.reviews-cont {
  width: 50%;
  height: 4vh;
}

.progress-title {
  font-family: $main-font-family;
  color: $blue-shade;
  margin-bottom: -4vh;
  text-align: left;
  font-size: $button-font-size;
  font-weight: bold;
}

.coffeediv {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.coffee {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.helps-count {
  margin-top: -2vh;
  font-family: $main-font-family;
  color: $grey-shade;
  text-align: center;
}

.avatars-popup {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 40vh;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #3022ab;
  padding: 2em 2em 2em 2em;
  font-family: $main-font-family;
  max-height: auto;
  border: solid thin black;
  border-radius: 0.5em;
  overflow: scroll;
}

.avatars-popup::-webkit-scrollbar {
  overflow: hidden;
}

.icons-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatars-div {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.avatar-img {
  width: 100%;
  height: 100%;
  // border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.save-buttonx {
  align-self: center;
  cursor: pointer;
  border-radius: $border-radius;
  width: 10vw;
  height: 10vh;
  font-family: $main-font-family;
  font-weight: bold;
  color: white;
  background-color: #3022ab;
  font-size: $button-weight;
  border: none;
  margin-bottom: -3vh;
  margin-top: 3vh;
}

.save-buttonx:hover {
  background-color: #1c136f;
}

.btn-save-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
}

.reviews {
  font-family: $main-font-family;
  color: $blue-shade;
  font-size: 0.7000000000000001vw;
}

.user-details-div {
  width: 40%;
  height: 90%;
  // border: solid;
  display: flex;

  flex-direction: column;

  align-items: flex-start;
}

.profile-info-label {
  font-family: $main-font-family;
  color: $blue-shade;
  width: 100%;
  margin-bottom: 1vh;
  text-align: left;
  font-size: $button-font-size;
  font-weight: bold;
}

.profile-textBox {
  margin-top: -2vh;
  font-size: large;
  text-align: center;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: $divider-line;
  outline: none;
}

.reset-popup {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: white;
  color: #3022ab;
  padding: 0em 2em 2em 1.2em;

  font-family: $main-font-family;
  max-height: auto;
  border: solid thin black;
  border-radius: 0.5em;
  height: 25vh;
  width: 30vh;
}

.div-in-a-div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  // border: solid;
  margin-left: 4vh;
}

.closex {
  border-radius: 0.6em;
  align-self: start;
  cursor: pointer;
  margin-top: 0;
  color: black;
}

#reset-a {
  cursor: pointer;
}
