@import '../../../../stylesheet.scss';

.help-container {
  height: 10vh;
  width: 40vh;
  background-color: #f8eef6;
  // opacity: 0.4;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;

  .help-title {
    margin-left: 2vh;
    font-family: $main-font-family;
    font-size: 0.95vw;
    color: $blue-shade;
    font-weight: bold;
    cursor: pointer;
  }

  .help-details {
    margin-left: 2vh;
    font-family: $main-font-family;
    font-size: 0.65vw;
    color: $blue-shade;
    margin-top: -1vh;
  }
}

.bottom-details {
  margin-top: -1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #tags {
    margin-left: 2vh;
    font-family: $main-font-family;
    color: $blue-shade;
    font-weight: bold;
  }

  .butts-cont {
    height: 3.5vh;
    width: 15vh;
    display: flex;
    justify-content: space-between;
    margin-right: 2vh;
    margin-top: -1vh;
    display: flex;

    .help-button {
      border-radius: $border-radius;
      width: 7vh;
      height: 3.5vh;
      cursor: pointer;
      font-family: $main-font-family;
      color: white;
      background-color: #a53993;
      font-size: 0.65vw;
      border: none;
    }

    .help-button:hover {
      color: $grey-shade;
    }
  }
}
