@import '../../../../stylesheet.scss';

.help-container {
  width: 40vh;
  background-color: #f8eef6;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;

  .help-title {
    margin-left: 2vh;
    font-family: $main-font-family;
    font-size: 0.95vw;
    color: $blue-shade;
    font-weight: bold;
    cursor: pointer;
  }

  .help-details {
    margin-left: 2vh;
    font-family: $main-font-family;
    font-size: 0.65vw;
    color: $blue-shade;
    // margin-top: -1vh;
  }
}

@media screen and (max-width: 480px) {
  .help-container {
    width: 270px;
    .help-title {
      font-size: 1.3rem;
    }
    .help-details {
      font-size: 0.9rem;
    }
  }
  .bottom-details {
    font-size: 0.9rem;
    .butts-cont {
      .help-button {
        font-size: 0.7rem !important;
        width: 3rem !important;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
}

.bottom-details {
  // margin-top: -1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  #tags {
    margin-left: 2vh;
    font-family: $main-font-family;
    color: $blue-shade;
    font-weight: bold;
  }

  .butts-cont {
    height: 3.5vh;
    width: 15vh;
    display: flex;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    justify-content: flex-end;

    .help-button {
      border-radius: $border-radius;
      width: 7vh;
      height: 3.5vh;
      cursor: pointer;
      font-family: $main-font-family;
      color: white;
      background-color: #a53993;
      font-size: 0.65vw;
      border: none;
      margin-left: 0.1rem;
    }

    .help-button:hover {
      color: $grey-shade;
    }
  }
}
.HR-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a53993;
  color: white;

  padding: 2em;
  font-family: monospace;
  max-height: 5vw;
  border: 2px solid black;
  border-radius: 0.3em;
}

.HR-title {
  font-size: x-large;
  margin-bottom: 1.7vh;
  color: orange;
  font-weight: 550;
}
.popup-content {
  margin: 0;
  background: rgb(255, 255, 255);
  width: 30vw;
  padding: 0;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
