// responsive design
* {
  box-sizing: border-box;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;

  padding: 10px;

  button {
    img {
      max-width: 20px;
      max-height: 20px;
    }
  }

  .chat-form {
    position: fixed;
    bottom: 0;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(238, 238, 238);
    border: 1px solid #ccc;
    border-radius: 10px;

    .hidden {
      display: none;
    }
    .text-area-form {
      width: 100%;

      border: none;
      padding: 10px;
      font-size: 16px;

      color: #333;
      resize: none;
      textarea {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 1%;
        margin-bottom: 1%;
        font-size: 16px;
        resize: none;
      }
      .buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .img-code-buttons {
          display: flex;
          flex-direction: row-reverse;
          .file-btn {
            border: none;
            border-radius: 15%;
            label {
              cursor: pointer;
            }
          }

          .input-type-btn {
            border: none;
            border-radius: 15%;
            cursor: pointer;
          }
        }
        .send-btn {
          border: none;
          border-radius: 15%;
          cursor: pointer;
        }

        .send-btn:disabled {
          background-color: rgba(238, 238, 238);
          color: -internal-light-dark(
            rgba(16, 16, 16, 0.3),
            rgba(255, 255, 255, 0.3)
          );
          border-color: -internal-light-dark(
            rgba(118, 118, 118, 0.3),
            rgba(195, 195, 195, 0.3)
          );
          filter: grayscale(100%);
        }
      }
      .buttons:hover {
        background-color: -internal-light-dark(
          rgba(239, 239, 239, 0.3),
          rgba(19, 1, 1, 0.3)
        );
        color: -internal-light-dark(
          rgba(16, 16, 16, 0.3),
          rgba(255, 255, 255, 0.3)
        );
        border-color: -internal-light-dark(
          rgba(118, 118, 118, 0.3),
          rgba(195, 195, 195, 0.3)
        );
      }
    }
  }
  .chat-messages {
    margin-bottom: 80px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 150px;
    .chat-message-avatar {
      width: 80px;
      height: 80px;

      margin-right: 10px;
      img {
        width: 50%;
        height: 50%;
      }
    }
    .chat-message {
      display: flex;
      // flex-direction: row;
      // justify-content: flex-start;
      // align-items: flex-start;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f5f5f5;
      border-radius: 10px;
      max-width: 100%;
      // word-wrap: break-word;
      // word-break: break-word;
      // overflow-wrap: break-word;
      img {
        max-width: 50%;
        max-height: 50%;
      }
      .chat-message-text {
        margin-left: 10px;
        font-size: 16px;
        color: #000;
      }
    }
  }
}
.chat-message-text {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.chat-message-time {
  font-size: 12px;
  color: #ccc;
  margin-left: 10px;
  position: relative;
  align-self: flex-end;
}
