@import "../../../../stylesheet.scss";
// responsive design
// * {
//   box-sizing: border-box;
// }
.chat-main {
  border-radius: $border-radius;
  margin-top: 2%;
  height: 80vh;
  width: 55%;
  background: $dashboard-color;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // border: solid;
  box-shadow: $div-shadow;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 71%;
  width: 100%;
  overflow: scroll;
  border-right: solid thin;

  // background-color: #333;

  button {
    img {
      max-width: 1vw;
      max-height: 1vw;
    }
  }

  .chat-form {
    position: absolute;
    bottom: 7vh;
    width: 25%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    // margin: 1vw;
    margin-right: 1vh;
    background-color: white;
    // box-shadow: $div-shadow;
    overflow: hidden;

    .hidden {
      display: none;
    }
    .text-area-form {
      width: 100%;
      // height: 100%;
      border: none;
      padding: 0.5vw;
      font-size: 0.8vw;

      color: #333;
      resize: none;
      textarea {
        width: 98%;
        height: 6vw;
        // border: none;
        border-radius: $border-radius;
        padding: 1%;
        margin-bottom: 1%;
        font-size: $button-font-size;
        resize: none;
        border: $divider-line;
        color: $blue-shade;
      }
      .buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .img-code-buttons {
          display: flex;
          flex-direction: row-reverse;
          .file-btn {
            border: none;
            border-radius: 15%;
            label {
              cursor: pointer;
            }
          }

          .input-type-btn {
            border: none;
            border-radius: 15%;
            cursor: pointer;
          }
        }
        .send-btn {
          border: none;
          border-radius: 15%;
          cursor: pointer;
        }

        .send-btn:disabled {
          background-color: rgba(238, 238, 238);
          color: -internal-light-dark(
            rgba(16, 16, 16, 0.3),
            rgba(255, 255, 255, 0.3)
          );
          border-color: -internal-light-dark(
            rgba(118, 118, 118, 0.3),
            rgba(195, 195, 195, 0.3)
          );
          filter: grayscale(100%);
        }
      }
      .buttons:hover {
        background-color: -internal-light-dark(
          rgba(239, 239, 239, 0.3),
          rgba(19, 1, 1, 0.3)
        );
        color: -internal-light-dark(
          rgba(16, 16, 16, 0.3),
          rgba(255, 255, 255, 0.3)
        );
        border-color: -internal-light-dark(
          rgba(118, 118, 118, 0.3),
          rgba(195, 195, 195, 0.3)
        );
      }
    }
  }
  .chat-messages {
    margin-top: 1vh;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 150px;
    .chat-message-avatar {
      width: 8vh;
      height: 8vh;
      // margin-right: 10px;

      .avatar-img {
        max-width: 70%;
        max-height: 70%;
        border-radius: 50%;
      }
    }
    .chat-message {
      display: flex;
      // flex-direction: row;
      // justify-content: flex-start;
      // align-items: flex-start;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f8eef6;
      border-radius: $border-radius;
      max-width: 100%;
      box-shadow: $div-shadow;

      // word-wrap: break-word;
      // word-break: break-word;
      // overflow-wrap: break-word;

      .chat-message-text {
        margin-left: 10px;
        font-size: $button-font-size;
        color: $grey-shade;
        font-family: $main-font-family;
      }
    }
  }
}

.chat-container::-webkit-scrollbar {
  display: none;
}

.chat-message-avatar-name {
  font-family: $main-font-family;
  font-weight: bold;
}
.chat-message-text {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}
.chat-message-time {
  font-size: 12px;
  color: $blue-shade;
  margin-left: 10px;
  position: relative;
  align-self: flex-end;
  font-family: $main-font-family;
  font-weight: bold;
}

.features-container {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: red;
}

.play {
  border-radius: $border-radius;
  // margin-top: 1%;
  height: 80vh;
  width: 55%;
  background: $dashboard-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // border: solid;
  box-shadow: $div-shadow;
  border-right: solid thin;
  border-radius: $border-radius 0 0 $border-radius;
}

.help-chat-title {
  font-family: $main-font-family;
  text-align: center;
  color: $grey-shade;
}

.problem-div {
  // margin-left: ;
  width: 95%;
  height: 30%;
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $blue-shade;
  border-radius: $border-radius;
  background-color: #f8eef6;
}

.problem-content {
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: $main-font-family;
}

.help-tags-list {
  font-family: $main-font-family;
  color: $blue-shade;
  font-weight: bold;
  list-style: none;
  column-count: 3;
  text-align: center;
  column-gap: 0.1%;
  // background-color: #333;
}

.people-online {
  width: 95%;
  height: 10vh;
  background-color: #f8eef6;
  border-radius: $border-radius;
  margin-left: 12%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: $grey-shade;
  font-weight: bold;
}

.avatar-img2 {
  max-width: 60%;
  max-height: 60%;
  border-radius: 50%;
  margin-right: 2vh;
  margin-top: 2vh;
  cursor: pointer;
}

.currently-online {
  margin-left: 2vh;
  font-family: $main-font-family;
  font-size: $button-font-size;
}

.avatar-img3 {
  max-width: 60%;
  max-height: 60%;
  // border-radius: 50%;
  margin-right: 2vh;
  margin-top: 2vh;
  cursor: pointer;
}

.options {
  display: flex;
}
