@import '../../../../stylesheet.scss';

.form-container {
  margin-top: 12vh;
  height: 80vh;
  min-height: 750px;
  width: 40vw;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .auth-logo {
    width: 15%;
    height: 15%;
    margin-bottom: 3vh;

    .auth-logo-img {
      width: 100%;
      height: 100%;
    }
  }
  .eye {
    cursor: pointer;
    border: none;
    padding-left: 1vw;
  }
  .password-box {
    display: flex;
    width: 90%;
    justify-content: space-between;
  }

  .login-form {
    width: 40%;
    height: 45%;
    border-radius: $border-radius;
    background-color: white;
    border: $border;
    box-shadow: $div-shadow;
  }

  .sign-buttons-cont {
    width: 100%;
    height: 7vh;
    border-radius: 5%;

    h4 {
      padding-left: 1vw;
    }
    #sign-button {
      width: 50%;
      height: 100%;
      text-align: center;
      border: none;
      // background-color: green;
      font-family: $main-font-family;
      font-size: $button-font-size;
      font-weight: $button-weight;
    }

    .sign-up-button:hover {
      color: grey;
    }
  }
  .sign-up-button {
    background-color: #d3d3d3;
    border-radius: 0px 15px 0px 0px;
    cursor: pointer;
  }

  .sign-in-button {
    background-color: white;
    border-radius: 15px 10px 0px 0px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;

    .login-textBox {
      width: 90%;
      border: none;
      border-bottom: $divider-line;
      outline: none;
    }
    ::placeholder {
      color: $blue-shade;
      font-family: $main-font-family;
      font-size: 15px;
    }

    .login-btn {
      width: 90%;
      height: 5vh;
      background-color: $blue-shade;
      border-radius: $border-radius;
      color: white;
      border: none;
      font-family: $main-font-family;
      font-size: $button-font-size;
      cursor: pointer;
    }

    .forgot-password {
      font-family: $main-font-family;
      color: $blue-shade;
      font-size: 15px;
      cursor: pointer;
    }
  }

  .divider-login {
    font-family: $main-font-family;
    color: white;
    font-size: 12px;
    width: 40%;

    hr {
      width: 100%;

      border: none;
      border-bottom: $divider-line;
    }
  }
}

@media screen and (max-width: 420px) {
  .form-container {
    margin-top: 3vh;
  }
}

@media screen and (max-height: 615px) {
  .form-container {
    margin-top: 3vh;
    .login-form {
      height: 40%;
    }
  }
}

@media screen and (max-height: 530px) {
  .form-container {
    .auth-logo {
      width: 7%;
      height: 7%;
    }
  }
}

.login-other-platforms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;

  #platform-button {
    height: 5vh;
    background-color: transparent;
    border: none;
    cursor: pointer;

    #socialmedia-img {
      width: 100%;
      height: 100%;
    }
  }
}

.reset-btn {
  width: 100%;
  height: 5vh;
  background-color: $blue-shade;
  border-radius: $border-radius;
  color: white;
  border: none;
  font-family: $main-font-family;
  font-size: $button-font-size;
  cursor: pointer;
}

.reset2-btn {
  width: 90%;
  height: 5vh;
  background-color: $blue-shade;
  border-radius: $border-radius;
  color: white;
  border: none;
  font-family: $main-font-family;
  font-size: $button-font-size;
  cursor: pointer;
}

.reset-buttons-cont {
  width: 100%;
  height: 2vh;
  border-radius: 5%;
  h4 {
    text-align: center;
    font-family: $main-font-family;
    font-size: $button-font-size;
    font-weight: $button-weight;
  }
}

.reset-form {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-textBox {
  width: 90%;
  border: none;
  border-bottom: $divider-line;
  outline: none;
  margin-bottom: 2vh;
}

.message-after {
  width: 100%;
  font-family: $main-font-family;
  margin-bottom: 1vh;
}
