@import "../../../../stylesheet.scss";

.help-req-container {
  border-radius: 2%;
  margin-top: 2%;
  height: 80vh;
  width: 60%;
  background: $dashboard-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}
