@import "../../../stylesheet.scss";

.dashboard-container {
  border-radius: $radius;
  margin-top: 2%;
  height: 80vh;
  width: 55%;
  background: $dashboard-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $border;
  box-shadow: $div-shadow;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.create-help-butt-div {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: blue;
}

.search-field {
  margin-top: 1.5vh;
}

.search-field input {
  width: 7vw;
  height: 2.5vh;
  border-radius: $radius;
  border: none;
  font-family: $main-font;
  font-size: $button-font-size;
}

.search-me-officer {
  border-bottom: $divider-line;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-tags {
  list-style: none;
  font-family: $main-font;
  font-size: $button-font-size;
  color: $blue-shade;
  font-weight: bold;
  margin-bottom: 0.5vh;
}

.dashboard-title {
  font-family: $main-font;
  font-size: $title-font-size;
  color: $grey-shade;
}

.create-help-butt {
  border-radius: $radius;
  height: 5vh;
  width: 13.55vw;
  cursor: pointer;
  font-family: $main-font;
  background-color: #3022ab;
  border: none;
  color: white;
  font-size: 0.8999999999999999vw;
  font-weight: bold;
}

.create-help-butt:hover {
  color: $grey-shade;
}

.help-list {
  height: 60vh;
  width: 80%;
  overflow: scroll;
  list-style: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  column-count: 2;
  justify-content: space-around;
}

// @media (max-width: 1300px) {
//   .help-list {
//     display: flex;
//     flex-direction: column;
//   }
// }

.help-list::-webkit-scrollbar {
  display: none;
}

.fa fa-plus {
  font-size: 0.8999999999999999vw;
}
