@import "../../../stylesheet.scss";

.dashboard-container {
  border-radius: $radius;
  margin-top: 2%;
  height: 80vh;
  width: 55%;
  background: $dashboard-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $border;
  box-shadow: $div-shadow;
}

.create-help-butt-div {
  width: 75%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background-color: blue;
  border-bottom: $divider-line;
}

.dashboard-title {
  font-family: $main-font;
  font-size: $title-font-size;
  color: $grey-shade;
}

.create-help-butt {
  border-radius: $radius;
  height: 5vh;
  width: 13.55vw;
  cursor: pointer;
  font-family: $main-font;
  background-color: #3022ab;
  border: none;
  color: white;
  font-size: 0.8999999999999999vw;
  font-weight: bold;
}

// .create-help-butt p {
//   font: ;
// }

.create-help-butt:hover {
  color: $grey-shade;
}

.help-list {
  height: 60vh;
  width: 80%;
  overflow: scroll;
  column-count: 2;
  list-style: none;
}

.help-list::-webkit-scrollbar {
  display: none;
}

.sort-button {
  width: 8vw;
  height: 3vh;
  border-radius: $radius;
  border: 0.1vw solid $blue-shade;
  font-family: $main-font;
  font-weight: bold;
  color: $blue-shade;
  background-color: transparent;
  cursor: pointer;
}

.sort-butt-container {
  margin-top: 2vh;
  width: 75%;
  display: flex;
  align-items: flex-start;
}

.arrow {
  border: solid $blue-shade;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.fa fa-plus {
  font-size: 0.8999999999999999vw;
}
