.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.small-logo {
  width: 10vh;
  height: 10vh;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.button2 {
  margin-top: 1.5vh;
  margin-right: 2vh;
  height: 6vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

#navbar-icon {
  height: 100%;
  margin-right: 2vh;
}
